<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823449591294-vrtahkr674j6a5dgfova35iv6ul43j0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823449591294-vrtahkr674j6a5dgfova35iv6ul43j0r</string>
	<key>API_KEY</key>
	<string>AIzaSyDWKqNzJ9SGzoz8O2MEG1mCuFiRpwa0vcU</string>
	<key>GCM_SENDER_ID</key>
	<string>823449591294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jessimobilesolutions.Mercado</string>
	<key>PROJECT_ID</key>
	<string>grocr-e57d2</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-e57d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823449591294:ios:0a3d2badd146e24955b4af</string>
</dict>
</plist>